
/* DESKTOP (col-lg) 992px+ */
@media (min-width: 992px) {


    
}
/* DESKTOP e TABLETS (col-md) 768px a 991px */
@media (min-width: 768px) and (max-width: 991px) {


    
}
/* TABLETS (col-sm) 566px a 767px */
@media (min-width: 767px) and (max-width: 767px) {


    
}
/* TABLETS e CELULARES (col) 0px a 767px */
@media (max-width: 767px) {

    .no-mobile {
        display: none!important;
    }

    .col-one {
        padding-left: 35px!important;
        padding-right: 35px!important;
    }

    .navbar-toggler-icon {
        padding-top: 5px;
    }

    .navbar-collapse {
        background-color: var(--color-rosa);
        padding: 20px;
        text-align: center;
        border-radius: 40px;
    }

    .navbar-collapse .btn-white {
        margin-top: 20px;  
    }

    .navbar-collapse .btn-icon {
        padding-right: 20px;  
    }

    .navbar-collapse .btn-icon span.icon {
        display: none;
    }

    .text-banner h1 {
        font-size: 36px;
    }




}